# ARISS Moderator Script Generator - Required Python Libraries
#   By: Ken McCaughey (N3FZX)  
#   On: 2025-05-20   
#   Ver 3.1.0 
#
# Made using pipreqs.
#
docx==0.2.4
docxtpl==0.19.1
python_docx==1.1.2
